<template name="Home">

  <!-- MAIN CONTENT SECTION -->
  <div id="content" class="gallery">

        <a tabindex="1"><img src="/images/smile.jpg"></a>
        <a tabindex="1"><img src="/images/smile.jpg"></a>
        <a tabindex="1"><img src="/images/smile.jpg"></a>
        <a tabindex="1"><img src="/images/smile.jpg"></a>

        <a tabindex="1"><img src="/images/smile.jpg"></a>
        <a tabindex="1"><img src="/images/smile.jpg"></a>
        <a tabindex="1"><img src="/images/smile.jpg"></a>
        <a tabindex="1"><img src="/images/smile.jpg"></a>

        <a tabindex="1"><img src="/images/smile.jpg"></a>
        <a tabindex="1"><img src="/images/smile.jpg"></a>
        <a tabindex="1"><img src="/images/smile.jpg"></a>
        <a tabindex="1"><img src="/images/smile.jpg"></a>

        <a tabindex="1"><img src="/images/smile.jpg"></a>
        <a tabindex="1"><img src="/images/smile.jpg"></a>
        <a tabindex="1"><img src="/images/smile.jpg"></a>
        <a tabindex="1"><img src="/images/smile.jpg"></a>
        <span class="closed">+</span>
        <span class="closed-layer"></span>

  </div>
  <!-- /MAIN CONTENT SECTION -->



</template>
