<template name="user_profile">
  <div class="container">

    <h1>User Profile</h1>

    <ul class="list-group">
      <li class="list-group-item">{{user_profile.firstName}}</li>
      <li class="list-group-item">{{user_profile.lastName}}</li>
      <li class="list-group-item">{{user_profile.birthday}}</li>
      <li class="list-group-item">{{user_profile.gender}}</li>
      <li class="list-group-item">{{user_profile.organization}}</li>
      <li class="list-group-item">{{user_profile.website}}</li>
      <li class="list-group-item">{{user_profile.bio}}</li>
      <li class="list-group-item">{{user_profile.country}}</li>
    </ul>

  </div>
</template>
